

.header{
    background-color: black;
   
}
.video-icons{
    color:white ;
    vertical-align: middle;
    margin: 0 2px;
    background:none;
   
}

.navigation-menu{
    float: right;
    background-color: #323131;
    height:40vh;
}
.icons{
   
    margin-left: 1150px;
    
}
